@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow-color: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-size: "Montserrat", sans-serif;
}
.shadow1{
  box-shadow: var(--shadow-color);
}

.btn-red{
  color: var(--theme);
  text-align: center;
  width: 100%;
  font-size: .8rem;
  margin:1rem 0rem;
  padding: 0.5rem !important;
  background-color: #ef4444;
  border: 1px solid #ef4444;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto !important;
}


.btn-red{
  background-color: #ef4444;
  color: var(--white);
}

.btn-red:hover{
  background-color: #fff !important;
  color: #ef4444 !important;
  transition: all 0.3s;
}